.footer {
	&__col { // .footer__col
		position: relative;
		padding-top: 26px;
		padding-bottom: 90px;
		border-top: 1px solid $color-gray-light;

		@media (min-width: $breakpoint-desktop-small) {
			padding-top: 39px;
		}

		@media (min-width: $breakpoint-desktop-large) {
		}
	}

	&__addr-col { // .footer__addr-col
		grid-column: 1 / 5;
	}

	&__phone-col { // .footer__phone-col
		grid-column: 5 / 9;

		@media (min-width: $breakpoint-desktop-large) {
			padding-left: 22px;
		}
	}

	&__mailto-col { // .footer__mailto-col
		grid-column: 9 / 13;
	}

	&__to-top { // .footer__to-top
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-100%) translateY(-23px);

		@media (min-width: $breakpoint-desktop-small) {
			transform: translateY(-100%) translateY(-17px);
		}
	}
}
