.header {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	background-color: $color-black-light;
	color: $color-white;

	@media (min-width: $breakpoint-desktop-small) {
		padding: 15px 0;
	}

	&__container { // .header__container
		display: flex;
		align-items: center;
	}

	&__home-link { // .header__home-link
		display: inline-block;
		margin-right: 20px;

		@media (min-width: $breakpoint-desktop-small) {
			margin-right: 100px;
		}

		@media (min-width: $breakpoint-desktop-large) {
			margin-right: 150px;
		}
	}

	&__logo { // .header__logo
		width: 58px;
		height: 34px;
		border-radius: 4px;

		@media (min-width: $breakpoint-desktop-small) {
			width: 78px;
			height: 42px;
			border-radius: 8px;
		}
	}

	&__button { // .header__button
		width: 100%;
		max-width: 124px;
		margin-left: auto;

		@media (min-width: $breakpoint-desktop-small) {
			max-width: 145px;
		}
	}
}
