.progress-bar {
	height: 40px;
	background-color: rgba($color-gray-light, .1);
	border-radius: 40px;
	overflow: hidden;

	&__progress { // .progress-bar__progress
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5%;
		min-width: 68px;
		height: 100%;
		border-radius: 40px;
		background-color: $color-black-light;
		color: $color-white;
		transition: width 0.4s linear;

		@media (min-width: $breakpoint-desktop-small) {
			min-width: 95px;
		}
	}
}
