.to-top {
	display: flex;
	align-items: center;

	&__label { // .to-top__label
		margin-right: 15px;
		font-size: 14px;
		line-height: 18px;
	}

	&__button { // .to-top__button
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		padding: 0;
		background-color: $color-black-light;
		border-width: 0;
		border-radius: 50%;
		pointer-events: all;

		&::after {
			display: block;
			width: 10px;
			height: 5px;
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.10913 4.42065L4.05459 1.42065L1.00004 4.42065' stroke='%23fff' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			background-size: 10px 5px;
			background-repeat: no-repeat;
			background-position: center;
			content: "";
		}
	}
}
