.button {
	display: inline-block;
	padding: 21px;
	background-color: $color-red;
	border-width: 0;
	border-radius: 60px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: $color-white;
	transition: background-color $default-transition, box-shadow $default-transition;

	@media (min-width: $breakpoint-desktop-large) {
		padding: 20px;
		font-size: 16px;
		line-height: 20px;
	}

	&:hover {
		background-color: #FF0C00;
		box-shadow: 0 10px 20px rgba($color-red, .3);
	}

	&--small { // .button--small
		padding: 11px;

		@media (min-width: $breakpoint-desktop-small) {
			padding: 15px;
		}
	}
}
