.input {
	&__label { // .input__label
		display: inline-block;
		margin-bottom: 6px;
		font-size: 14px;
		line-height: 25px;
		color: $color-gray-light;
	}

	&__field { // .input__field
		min-width: 0;
		width: 100%;
		padding: 21px 18px;
		background-color: $color-black-dark;
		border: 1px solid $color-gray-light;
		border-radius: 4px;
		transition: border-color $default-transition;
		color: $color-white;

		@media (min-width: $breakpoint-desktop-small) {
			padding: 21px 26px;
		}

		&::placeholder {
			font-size: 14px;
			line-height: 25px;
			color: $color-white;
		}

		&:focus {
			outline-width: 0;
		}
	}
}
