extends pug/base

prepend vars
	- title = "PAN test"
	- description = "PAN test"

append vars
	//-

block content
	// Header
	header.header
		.container.header__container
			a.header__home-link(href="/", title="Home page")
				+svg("logo")(class="header__logo")
			nav.header__menu.nav
				ul.nav__list
					li.nav__elem.nav__elem--dropdown
						a.nav__link(href="#") Пункт 1
						.nav__dropdown-menu.dropdown-menu
							.dropdown-menu__list
								.dropdown-menu__elem
									a.dropdown-menu__link(href="#")
										.dropdown-menu__icon-box
											+svg("sofa")(class="dropdown-menu__icon")
										.dropdown-menu__link-content
											p.text-h5.dropdown-menu__title Меню 1
											p.text.text-gray Покупайте и продавайте
								.dropdown-menu__elem
									a.dropdown-menu__link(href="#")
										.dropdown-menu__icon-box
											+svg("sofa")(class="dropdown-menu__icon")
										.dropdown-menu__link-content
											p.text-h5.dropdown-menu__title Меню 2
											p.text.text-gray Давайте подружимся
								.dropdown-menu__devider
								.dropdown-menu__elem
									a.dropdown-menu__link(href="#")
										.dropdown-menu__icon-box
											+svg("sofa")(class="dropdown-menu__icon")
										.dropdown-menu__link-content
											p.text-h5.dropdown-menu__title Меню 1
											p.text.text-gray Покупайте и продавайте
								.dropdown-menu__elem
									a.dropdown-menu__link(href="#")
										.dropdown-menu__icon-box
											+svg("sofa")(class="dropdown-menu__icon")
										.dropdown-menu__link-content
											p.text-h5.dropdown-menu__title Меню 2
											p.text.text-gray Давайте подружимся
					li.nav__elem
						a.nav__link(href="#") Пункт 2
					li.nav__elem
						a.nav__link(href="#") Пункт 3
					li.nav__elem
						a.nav__link(href="#") Пункт 4
					li.nav__elem
						a.nav__link(href="#") Пункт 5
			button.button.button--small.header__button(type="button") Кнопка


	main
		// Section Hero
		section.section-hero
			.container
				.row
					.section-hero__col-form
						h1.text-h1.section-hero__title Недвижимость Санкт-Петербурга и Москвы
						form.section-hero__form
							.section-hero__input-row
								.input.select
									label.input__label(for="city") Выбрать город
									.select__field-box
										input.input__field.select__field#city(type="text", placeholder="Выбрать город", readonly)
									.select__dropdown
										ul.select__list.text
											li.select__list-elem Москва
											li.select__list-elem Санкт-Петербург
											li.select__list-elem Владивосток
											li.select__list-elem Оренбург
								.input
									label.input__label(for="email") Ваш e-mail
									input.input__field#email(type="email", placeholder="info@mail.ru")
							button.button.section-hero__submit-btn(type="submit") Кнопка действия
							.checkbox
								input.checkbox__field(type="checkbox", id="agree")
								label.checkbox__label.text.text-gray(for="agree") Отправляя нам данную форму вы соглашаетесь с&nbsp
									br.checkbox__politics-break
									a.text-red.checkbox__label-link(href="#", target="_blank") политикой конфиденциальности
					.section-hero__col-image
						img.section-hero__image(src="images/hero-illustration.svg", alt="Woman is working")


		// Section Slider
		section.section-slider
			.container
				.row
					.center-col
						h2.text-h1.text-center.section-slider__title Обычный слайдер
				.row.slider
					.section-slider__slider-col.slider__wrapper
						.slider__slider.swiper.slider__box
							.swiper-wrapper
								.swiper-slide.slider__slide
									picture
										source(srcset="images/slide1@1x.webp 1x, images/slide1@2x.webp 2x", type="image/webp")
										img.slider__bg(src="images/slide1@1x.png", srcset="slide1@2x.png 2x", alt="Building")
									+stars(3)(class="slider__stars")
								.swiper-slide.slider__slide
									picture
										source(srcset="images/slide2@1x.webp 1x, images/slide2@2x.webp 2x", type="image/webp")
										img.slider__bg(src="images/slide2@1x.png", srcset="slide2@2x.png 2x", alt="Building")
									+stars(1)(class="slider__stars")
								.swiper-slide.slider__slide
									picture
										source(srcset="images/slide3@1x.webp 1x, images/slide3@2x.webp 2x", type="image/webp")
										img.slider__bg(src="images/slide3@1x.png", srcset="slide3@2x.png 2x", alt="Building")
									+stars(4)(class="slider__stars")
								.swiper-slide.slider__slide
									picture
										source(srcset="images/slide2@1x.webp 1x, images/slide2@2x.webp 2x", type="image/webp")
										img.slider__bg(src="images/slide2@1x.png", srcset="slide2@2x.png 2x", alt="Building")
									+stars(1)(class="slider__stars")
								.swiper-slide.slider__slide
									picture
										source(srcset="images/slide3@1x.webp 1x, images/slide3@2x.webp 2x", type="image/webp")
										img.slider__bg(src="images/slide3@1x.png", srcset="slide3@2x.png 2x", alt="Building")
									+stars(4)(class="slider__stars")
						.slider__navigation
							button.slider__nav-button.slider__nav-button--prev(type="button", aria-label="Prev slide")
							button.slider__nav-button.slider__nav-button--next(type="button", aria-label="Next slide")
					.center-col
						.slider__pagination

		// Section Progress
		section.section-progress.container
			.row
				.section-progress__progress-col
					.progress-bar.section-progress__progress
						span.progress-bar__progress.js-progress-value 5 %
					.section-progress__action-box
						button.button.js-progress-set-value(type="button") + 45 %
						p.text При нажатии на кнопку прогрессбар заполняется на столько процентов, сколько указано на кнопке
				.section-progress__text-col.collapsed-text.js-collapsed
					p.text-big Большинство онкологических пациентов испытывают страх перед неизвестностью того, что их ожидает в процессе лечения рака.
					.collapsed-text__hidden
						p.text-big Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur cumque deserunt distinctio, dolor ducimus eius exercitationem facilis ipsum officia pariatur possimus provident quod.
					.collapsed-text__button-box
						button.text.collapsed-text__more-btn.js-collapsed-more-btn(type="button", data-title="Скрыть подробности") Подробнее

		// Section Map
		section.section-map.container
			.row
				.center-col.section-map__map#map
			.section-map__marker-box
				// Marker layout
				.map-marker
					p.text-h5.map-marker__title Наш адрес
					p.text.map-marker__addr Санкт-Петербург, Владимирский проспект, 23, лит. А, офис 701
					a.text.text-red.text-underline.map-marker__link(href="#") Схема проезда

		// Section Advantages
		section.section-advantages.container
			.row
				.center-col
					ul.section-advantages__list
						li.section-advantages__item
							strong.text-h2.section-advantages__value 3,000
							span.text-big Агенств
						li.section-advantages__item
							strong.text-h2.section-advantages__value 10,000
							span.text-big Партнеров
						li.section-advantages__item
							strong.text-h2.section-advantages__value 80,000
							span.text-big Квартир в базе
						li.section-advantages__item
							strong.text-h2.section-advantages__value 100+
							span.text-big Застройщиков
						li.section-advantages__item
							strong.text-h2.section-advantages__value 200
							span.text-big Сотрудников

	// Footer
	footer.footer.container
		.row
			.center-col.footer__col
				.to-top.footer__to-top
					p.to-top__label Наверх
					button.to-top__button.js-to-top(type="button", aria-label="To top")
				.row
					.footer__addr-col
						address.text Санкт-Петербург, Владимирский пр., д. 3
							br
							|лит. А, офис 701
					.footer__phone-col.text-center
						a.text-h3(href="tel:88124456809") + 7 (812) 445-68-09
					.footer__mailto-col.text-right
						a.text.text-red.text-underline(href="mailto:somemail@mail.com") Напишите нам
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=958dfd93-b0bd-4c33-8de4-aee3cdf4995c" type="text/javascript")



