*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-width: 768px;
	font-family: $primary-font-family;
	color: $color-black-light;
}

button {
	cursor: pointer;
}

button, input {
	font-family: $primary-font-family;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}
