// Colors
$color-white: #fff;
$color-gray-light: #8F95AC;
$color-black-light: #2C2E3E;
$color-black-dark: #1E2030;
$color-red: #FF2D23;
$color-transparent: rgba(0,0,0,0);

// Animations
$default-transition: 0.2s ease;

// Fonts
$primary-font-family: 'Formular', sans-serif;

// Breakpoints
$breakpoint-desktop-large: 1600px;
$breakpoint-desktop-small: 1280px;
$breakpoint-tablet: 768px;
