.container {
	width: 100%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;

	@media (min-width: $breakpoint-desktop-small) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (min-width: $breakpoint-desktop-large) {
		padding-left: 65px;
		padding-right: 65px;
	}
}
