.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 16px;

	@media (min-width: $breakpoint-desktop-small) {
		grid-column-gap: 22px;
	}

	@media (min-width: $breakpoint-desktop-large) {
		grid-column-gap: 30px;
	}
}
