.section-hero {
	padding-top: 167px;
	padding-bottom: 137px;
	background-color: $color-black-dark;
	color: $color-white;

	@media (min-width: $breakpoint-desktop-small) {
		padding-top: 192px;
		padding-bottom: 129px;
	}

	@media (min-width: $breakpoint-desktop-large) {
		padding-top: 200px;
		padding-bottom: 177px;
	}

	&__title { // .section-hero__title
		max-width: 350px;
		margin-bottom: 27px;

		@media (min-width: $breakpoint-desktop-small) {
			max-width: 490px;
			margin-bottom: 38px;
		}

		@media (min-width: $breakpoint-desktop-large) {
			max-width: 500px;
			margin-bottom: 48px;
		}
	}

	&__col-form { // .section-hero__col-form
		grid-column: 2/7;

		@media (min-width: $breakpoint-desktop-small) {
			grid-column: 2/8;
		}

		@media (min-width: $breakpoint-desktop-large) {
			padding-top: 30px;
		}
	}

	&__col-image { // .section-hero__col-image
		grid-column: 7/13;
		padding-top: 7px;

		@media (min-width: $breakpoint-desktop-small) {
			grid-column: 8/12;
			padding-top: 20px;
		}

		@media (min-width: $breakpoint-desktop-large) {
			padding-top: 0;
		}
	}

	&__image { // .section-hero__image
		display: block;
		max-width: 310px;
		margin: 0 auto;

		@media (min-width: $breakpoint-desktop-small) {
			max-width: 100%;
		}
	}

	&__input-row { // .section-hero__input-row
		display: grid;
		grid-row-gap: 20px;
		margin-bottom: 36px;

		@media (min-width: $breakpoint-desktop-small) {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 30px;
			margin-bottom: 42px;
		}

		@media (min-width: $breakpoint-desktop-large) {
			margin-bottom: 38px;
		}
	}

	&__submit-btn { // .section-hero__submit-btn
		width: 100%;
		max-width: 220px;
		margin-bottom: 27px;

		@media (min-width: $breakpoint-desktop-small) {
			margin-bottom: 40px;
		}
	}
}
