.section-map {
	position: relative;
	padding-top: 56px;
	padding-bottom: 10px;

	@media (min-width: $breakpoint-desktop-small) {
		padding-top: 42px;
		padding-bottom: 20px;
	}

	@media (min-width: $breakpoint-desktop-large) {
		padding-top: 80px;
		padding-bottom: 40px;
	}

	&__map { // .section-map__map
		width: 100%;
		height: 251px;
		background-color: rgba($color-gray-light, .3);

		@media (min-width: $breakpoint-desktop-small) {
			height: 415px;
		}

		@media (min-width: $breakpoint-desktop-large) {
			height: 507px;
		}
	}

	&__marker-box { // .section-map__marker-box
		display: none;
	}
}
